<p id="notice"><%= notice %></p>

<h1>Parsings</h1>


<% @parsings.each do |pars| %>
<div>
  <div>
    <%= pars[:name] %>
  </div>
  <audio controls style='width: 600px'> <source src=<%= pars[:source] %> type="audio/mpeg"> </audio>
</div>
<% end %>

